@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

h2,
h3,
h4,
h5,
p {
  margin: 0;
}
.underline {
  text-decoration: underline;
}

.fira-sans-regular {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.section.printable {
  padding: 1em;
  border: 1px solid;
}

.headerHr {
  width: 100%;
  height: 10px;
  background-color: rgb(159, 159, 165);
  border: none;
  margin: 0;
}

hr {
  width: 100%;
}
.center {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divInPrint {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  min-width: 100%;
  padding: 1em;
}

@media print {
  body {
    background: #fff !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
  }
  .mainSection > hr {
    display: none;
    padding: 0;
    margin: 0;
  }
  h1 {
    display: none;
  }
  section.printable {
    padding: 0 !important;
    border: none !important;
  }

  .mainSection {
    box-shadow: none !important;
    padding: 0;
    min-width: 90vw !important;
    margin: 0 !important;
    border: none !important;
  }

  .btnsContainer {
    display: none !important;
  }
  @page {
    size: auto; /* auto is the initial value */
    margin: 0; /* this affects the margin in the printer settings */
  }
}
